/**
Theme Name: Ubud custom
Theme URI: https://bitbucket.org/MarkyMarkNo1/wp-theme-ubud-child
Author: MarkyMarkNo1
Author URI: https://bitbucket.org/MarkyMarkNo1
Description: Ubud is a minimal Photography WordPress theme with a 1-5 column grid option and options to show your images in a square, portrait or landscape image format. Ubud also offers a 4 column footer widget area and additional smart theme options to custimize your blog.

Version: 1.0.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, light, one-column, two-columns, three-columns, four-columns, five-columns, responsive-layout, custom-background, custom-header, custom-menu, editor-style, full-width-template, theme-options, translation-ready

Template: ubud

Text Domain: ubud
*/


@parentTheme: '../ubud';

// Parent theme gets enqueued in functions.php, so there's no need to
// @import url('@{parentTheme}/style.css');

// Now you can start adding your own styles here. Use !important to overwrite styles if neccessary.


// LESS Hat
//
@import "../bower_components/lesshat/build/lesshat.less";


/*
  Image sizes set in parent's functions.php:

  //  Adding additional sizes for Post Thumbnails
  add_image_size( 'img-square-big', 970, 970, true );
  add_image_size( 'img-portrait-big', 970, 1293, true );
  add_image_size( 'img-landscape-big', 970, 728, true );
  add_image_size( 'img-square', 700, 700, true );
  add_image_size( 'img-portrait', 700, 933, true );
  add_image_size( 'img-landscape', 700, 525, true );
*/


/*
 * Sticky Footer
 *
 * https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */
body {
  .display(flex);
  min-height: 100vh;
  .flex-direction(column);

  > * {
    width: 100%;  // Somehow required once we apply display: flex; to parent?
  }
}

#container {
  .flex(1);
}


/*
 * #site-nav
 */

#site-nav {

  ul ul.children {

    // #Fix: applying equal to ul ul.sub-menu
    //
    @media screen and (min-width: 1200px) {
      display: none;
      position: absolute;
      top: 54px;
      left: 0;
      width: 180px;
      margin: 0;
      padding: 0;
      background: #000000;
      border-top: none;
      z-index: 10000;
    }
  }
}


/*
 * The loop
 */

.entry-thumbnail {   // div

  .thumb-img {  // a

    // Replacement of thumbnail img with span
    //
    span.wp-post-image {  // img replacement
      display: inline-block;
      max-width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;

      &:before {
        display: block;
        content: '';
      }

      &.size-img-square {
        width: 700px;

        &:before {
          padding-top: 100%;
        }
      }

      &.size-img-square-big {
        width: 970px;

        &:before {
          padding-top: 100%;
        }
      }

      &.size-img-portrait {
        width: 700px;

        &:before {
          padding-top: 933 / 700 * 100%;
        }
      }

      &.size-img-portrait-big {
        width: 970px;

        &:before {
          padding-top: 1293 / 970 * 100%;
        }
      }

      &.size-img-landscape {
        width: 700px;

        &:before {
          padding-top: 525 / 700 * 100%;
        }
      }

      &.size-img-landscape-big {
        width: 970px;

        &:before {
          padding-top: 728 / 970 * 100%;
        }
      }
    }
  }
}


/*
 * Single Post
 */

.single-post-no-featured-image {

  @media screen and (min-width: 1200px) {

    // Default:
    //
    // .entry-header {
    //     max-width: 25.676%;
    //     padding: 0 0 0 35px;
    //     display: block;
    //     float: left;
    // }
    //
    // .entry-thumbnail {
    //     width: 74.324%;
    //     padding-bottom: 65px;
    //     text-align: right;
    //     float: left;
    // }
    //
    // .entry-content,
    // .author-wrap,
    // #comments {
    //     max-width: 71.6474%;
    //     padding-left: 18.0076%;
    // }


    // Approaching a layout as if we'd have a featured image - though we don't have
    // one - for larger screens


    // Width equal to .entry-thumbnail
    @entryContentOuterWidth: 74.324%;

    // Padding: Percentages refer to the width of the containing block
    @entryContentPaddingLeft: 18.0076%;

    // Limit inner width equal to default .entry-content by applying some extra
    // padding-right
    @entryContentPaddingRight: 74.324% - 71.6474%;

    // Determinig .entry-content's netto width in relation to .post:
    @entryContentInnerWidth: @entryContentOuterWidth - @entryContentPaddingLeft - @entryContentPaddingRight;


    .entry-header {
      // Adjusting float
      float: right;
      margin-left: @entryContentOuterWidth;
      width: 25.676%;
    }

    .entry-content,
    .author-wrap,
    #comments {
      // Adjusting float
      float: left;
      margin-right: -100%;
      clear: left;
      // Dimension
      width: @entryContentOuterWidth;
      max-width: none;
      padding-right: @entryContentPaddingRight;
    }

    .entry-content {

      // Featured Attachment
      //
      // Treat an image with caption as first element of a post like a Featured Image
      //
      .wp-caption:first-child {
        max-width: none;
        width: auto !important;

        // We want to neutralize .entry-content's padding, which corresponds to .post's width.
        // margin: Percentages refer to the width of the containing block, which is .entry-content.
        // Now we can easily neutralize .entry-content's padding with margin:

        margin-left:  -@entryContentPaddingLeft  * 100% / @entryContentInnerWidth;
        margin-right: -@entryContentPaddingRight * 100% / @entryContentInnerWidth;

        margin-bottom: 65px;

        img {
          width: 100%;
        }
      }
    }
  }
}
